<!--
  Author page with information about presentations, and the author. Shows all presentations that the user owns
-->

<ion-header class="home-container" style="background-color:white">
  <ion-navbar [@flyOutIn]="flyInOutState" hideBackButton> 
      <img *ngIf="!isSearchBarVisible" class="logoSize" src="img/slidle_logo.png" (click)="return()"/>
      <ion-buttons *ngIf="isSearchBarVisible" left>
        <button ion-button clear (click)="showSearchBar()">
          <ion-icon class="searchIcon buttonSize" name="close"></ion-icon> 
        </button>  
        <div class="divider"></div>
      </ion-buttons>
        <ion-searchbar #searchbarAuthor *ngIf="isSearchBarVisible" animated="true" placeholder="Search all Slidle Workspaces" class="activated" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" ></ion-searchbar>
      <ion-buttons end>
        <button *ngIf="!isSearchBarVisible" ion-button clear (click)="showSearchBar()">
          <ion-icon class="searchIcon buttonSize" name="search"></ion-icon> 
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-item>
    <ion-row>
      <ion-col style= "text-align:center; max-width:33.3%;">
       <ion-icon class="values" style="font-size: 50px;" name="contact"></ion-icon>
    </ion-col>
    <ion-col style="text-align:center; max-width:33.3%;" class="labels">
      <p style="font-size: 1em;">Presentations</p>
      <p style="text-align:center; font-size: 1em;" class="values">{{presentationsCount}}</p>
    </ion-col>
    <ion-col style="text-align:center; max-width:33.3%;" class="labels">  
      <p style="font-size: 1em;">Author</p> 
      <p style="text-align:center; font-size: 1em;" class="values">{{presentationOwner}}</p>
    </ion-col>
  </ion-row>
  
  </ion-item>

  
</ion-header>


 <ion-content scroll="false" class="background">

  <!-- testing placeholder image -->
  <div *ngIf="showPlaceholder" style="display:block; margin-left:auto; margin-right:auto; text-align: center; margin-top:50vw ">
    <h5 style="color: gray">No Presentations yet</h5>
    <img src="img/no_data.png">
    </div>

   <div *ngIf="searching" class="spinner-container">
     <ion-spinner></ion-spinner>
    </div>

<ion-grid> 
    <ion-row *ngFor="let i of rows; let j = index">
        <ion-col *ngFor="let item of items | slice:(i*2):(i+1)*2; let i = index" width-50="">
         <ion-card (click)="getPosition(i, j)">
            <img src="{{site}}{{item.thumbnail}}" style="width: 100%; background-image:url(img/default_logo.png); background-repeat: no-repeat; background-position: center; height: auto;"/>
            <h5 style="margin-left: 1.5vw;" class="namecolor textSize">{{item.title}}</h5>
            <!-- TODO set padding to the left -->
         </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>
   
</ion-content>
