
<ion-header  class="headerBackground">
  <ion-navbar hideBackButton>  
    <img [@flyOutIn]="flyInOutState" *ngIf="!isSearchBarVisible" class="logoSize" src="img/slidle_logo.png" (click)="recyclePresentations()"/>
    <ion-buttons [@flyInOut]="flyInOutState" *ngIf="isSearchBarVisible" left>
      <button ion-button clear (click)="searchBar(false)">
        <ion-icon class="searchIcon" name="search"></ion-icon> 
      </button>  
      <div [@flyInOut]="flyInOutState" class="divider"></div>
    </ion-buttons>
      <ion-searchbar [@flyInOut]="flyInOutState" *ngIf="isSearchBarVisible" animated="true" placeholder="Search all Slidle Workspaces" class="activated" showCancelButton="true" [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" ></ion-searchbar>
    <ion-buttons end>
      <button [@flyOutIn]="flyInOutState" *ngIf="!isSearchBarVisible" ion-button clear (click)="searchBar(false)">
        <ion-icon class="searchIcon" name="search"></ion-icon> 
      </button>
      <button ion-button item-right clear (click)="openWorkSpacesPage()">
        <ion-icon class="allIcon" name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header> 


<ion-content class="background">

  <!-- testing placeholder image -->
  <img *ngIf="showPlaceholder" src="img/no_data.png" style="display:block; margin-left:auto; margin-right:auto;">

  <!-- reverting to ngIf, virtual scroll causes margin issues when orientation is changed -->
  <!-- [virtualScroll]="items" -->
  <!-- *virtualItem="let item; let i = index" -->
  <ion-list class="listMargin background" > 
    <ion-item no-lines style="padding-left:0px;" *ngFor="let item of items; let i = index" class="background">
      <ion-card class="card">
        <!-- title -->
        <ion-row style="max-height:2em;">
          <ion-col>
            <h5><b>{{item.title}}</b></h5> 
          </ion-col>
          <ion-col style="vertical-align:middle;"> 
            <ion-buttons class="eyeIconPosition" end>
              <button style="margin:auto;" ion-button clear (click)="showSearchBar()">
                <img style="max-width:36px; max-height:36px" src="img/eye.png">
              </button>  
            </ion-buttons>
          </ion-col> 
        </ion-row>
        <!-- image -->
          <img style="max-width: 100vw; background-image:url(img/default_logo.png); background-repeat: no-repeat; background-position: center; height: 50vw;" src="{{site}}{{item.thumbnail}}" (click)="getPosition(i); openDetail()">

        <!-- secondary text [ngClass]="{'secondaryText':(!isPortrait), 'secondaryTextLand':(isPortrait)}-->
        <!-- <div class="secondaryTextContainer">
               <h2 class="secondaryText">Published by {{item.owner}}</h2>
               <h2 class="secondaryText">237 views</h2>
               <h2 class="secondaryText">56 likes</h2>
         </div>  -->
         
         <button style="margin:auto;" ion-button clear (click)="getPosition(i); openAuthor()">
            <h5 class="textColor"><b>Author: {{item.owner}}</b></h5> 
          </button> 
      </ion-card> 
 
      <!-- buttons -->
      <div style="max-width:100%; position:relative; text-align:center; padding-left: 0.5em; padding-right: 0.5em;"> 

          

      <button class="buttonsColor buttonsPositioning" style="height:35px" ion-button icon-left clear >
              <ion-icon ios="ios-download-outline" md="ios-download-outline"></ion-icon>
              Save
      </button>
      <button class="buttonsColor buttonsPositioning" style="height:35px" ion-button icon-left clear >
            <ion-icon ios="md-share" md="md-share"></ion-icon>
            Share
      </button>
      <button class="buttonsColor buttonsPositioning" style="height:35px" ion-button icon-left clear >
              <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
              Like 
      </button>
    </div> 
    </ion-item>
  </ion-list>
</ion-content>