page-home {
.parentbackground{
   background: #808080;
}
.namecolor{
    color: #ffffff
}
.authorcolor{
    color: #E8EAEB
}
.slidescolor{
    color: #E8EAEB
}
 .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #rowImage{
        max-width:150px;
    }
    #rowText{
        padding-left:3%;
    }

}
