.ios{
	page-home {
		.eyeIconPosition{
            margin-top: -0.82em;
        }
        .textColor{
            color: map-get($colors, slidleTextDark);
            //margin-top: 4.35em;
        }
        .cardAuthorSize{
            font-size: 0.90em;
        }
        .cardAuthorButtonSize{
            max-height: 7vw !important;
        }
	}	
}

.md{
	page-home {
		.eyeIconPosition{
			margin-top: -0.65em;
        }
        .cardAuthorSize{
            font-size: 0.9em;
        }
        .textColor{
            color: map-get($colors, slidleTextDark);
            //margin-top: 0.55em;
        }
        .cardAuthorButtonSize{
            max-height: 6vw !important;
        }
       
    }
    
}



page-home {
    .background{
        background: map-get($colors, slidleGrayBackground);
     }
    .namecolor{
        color: map-get($colors, slidleTextDark);
        }
    .authorcolor{
        color: #E8EAEB
        }
    .slidescolor{
        color: #E8EAEB
        }
    .spinner-container {
            width: 100%;
            text-align: center;
            padding: 10px;
        }

    .card{
        border-radius:5px;
        position: relative;
        max-width:100%;
        overflow:auto;
        }    

    .listMargin {
        margin-right: 1%;
        margin-left: 1%;
        }

    .background{
            background: map-get($colors, slidleGrayBackground);
        }

     .searchIcon {
        padding-right: 5px;
      }
      .menuIcon { 
        padding-left: 5px;
      }

      .headerBackground{
          background: white;  
      } 
      .divider{
        position:absolute;
        left:110%;
        top:10%;
        bottom:10%;
        border-left:2px solid map-get($colors, slidleDarkerGrayBackground);
    }   
    
    .secondaryText{
        color: map-get($colors, slidleSecondaryTextDark);
    }

 
.secondaryTextLand {
    position: absolute; 
    width: 96.1px;   
    height: 5.2%;
    top: 82%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(256,256,256, .8);
    z-index: 2;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 20px; 
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px; 
} 

.buttonsPositioning{ 
    width:32%;
    border-radius: 10px;
    margin:auto;
}

  
.buttonsColumns{
    background-color:map-get($colors, slidleDarkerGrayBackground);
    margin-top:-3px;
    margin-bottom:2px;
    margin-left:2px;
    margin-right:2px;
    border-radius:10px; 
}
#leftButton{
    margin-left:10px;
}
#rightButton{
    margin-right:40px;
}
.buttonsColor{  
    color: map-get($colors, slidleSecondaryTextDark);
    background-color: map-get($colors, slidleDarkerGrayBackground);
}
.textSize{
    font-size: 0.8rem;  
} 

.secondaryText{
    display:inline-block;
    font-size: 3vw;
    width: 30%;
}

.label{
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
}

  .item-inner{
      padding:0;
      padding-right: 0px !important;
  }

  .cardStyler{
      border-radius: 4px;
  }
}
