page-work-spaces {
    .background{
        background: map-get($colors, slidleGrayBackground);
     }

    .searchIcon {
      padding-right: 5px;
    }
      

      .headerBackground{
          background: white;  
      } 
      .divider{
        position:absolute;
        left:110%;
        top:10%;
        bottom:10%;
        border-left:2px solid map-get($colors, slidleDarkerGrayBackground);
    }
}
