<!--
  Generated template for the DetailPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation
-->


  <div>
  <ion-header [hidden]="!isPortrait">
    <ion-navbar hideBackButton>
      <button style="padding-right: 0.5em; background-color:#3EEC90;" item-right clear (click)='openAuthor()'>
        <ion-title>{{presentationTitle}}</ion-title>
      </button>
      <h6>{{slideName?.name}}</h6> 
      <ion-buttons end>
        <button style="padding-right: 0.5em; background-color:#3EEC90;" item-right clear (click)='return()'>
          <ion-icon name="close" style="font-size:40px; color:white;"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>   
  </ion-header>  
</div>

    <!--style="padding-top:1.5em"--> 
    <ion-content class="parentbackground" >
      <div class="row" >
      <ion-slides #mySlider loop="false" speed="150" pager (ionSlideDidChange)="slideChanged()" (click)="showOptions()">
        <ion-slide *ngFor="let slide of slides">
    
          <div *ngIf="isPortrait" style="padding-top:75px">
             
            <img src="{{site}}{{slide.imageFullLink}}"/> 
             
    
            <h1 style="color:#3EEC90;" >{{slide.name}}</h1>
            <h5 style="color:#3EEC90; height:10%; margin-bottom: 35px;" >{{slide.text}}</h5>
             
          </div>
          <div *ngIf="!isPortrait">
            <img src="{{site}}{{slide.imageFullLink}}"/>
          </div> 
          
        </ion-slide>
      </ion-slides>
      </div>
    </ion-content>
    
    <div *ngIf="isPortrait">
    <ion-footer >
      <ion-toolbar>
      <div align="center">
      <img src="img/tile_button.png" ion-button clear item-right (click)='openTiles()'/> 
      </div>
      </ion-toolbar>
    </ion-footer>
    </div>

    <div *ngIf="!isPortrait && optionBarIsVisible">
        <ion-footer >
          <ion-toolbar>
          <div align="center">
          <img src="img/tile_button.png" ion-button clear item-right (click)='openTiles()'/> 
          </div>
          </ion-toolbar>
        </ion-footer>
        </div>