page-detail {
 .parentBackground{
   background-color: map-get($colors, slidleGrayBackground);
 }

.secondaryText{
    color: map-get($colors, slidleTextDark);
    font-size: 1.3rem;
}

#leftButton{
    margin-left:10px;
}
#rightButton{
    margin-right:40px;
}
.buttonsColor{  
    color: map-get($colors, slidleSecondaryTextDark);
    background-color: map-get($colors, slidleDarkerGrayBackground);
}
.buttonsPositioning{ 
    min-width:31%;
    border-radius: 10px;
    height:2.6em;
}
.toolbar-background {
  background-color: map-get($colors, slidleGrayBackground);
}

#backButtonColor{
	color: map-get($colors, slidleSecondaryTextDark);
}

.buttonsColor{  
    color: map-get($colors, slidleSecondaryTextDark);
    background-color: map-get($colors, slidleDarkerGrayBackground);
}

.buttonsPositioning{ 
    width:32%;
    border-radius: 10px;
    margin:auto;
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
}

.container-fs { position: relative; width: 100vw; height: 100vh; }


.navbar{
    background-color: rgba(255, 255, 255, 0.6);
}

.clearButtons{
    background-color: rgba(255, 255, 255, 0);
}

.author{
    color: map-get($colors, slidleOrange);
}
}
